[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.5"
django-allauth = "==0.38.0"
django-jsonview = "*"
django-enumfield = "==1.5"

[requires]
python_version = "3.7"
