[[source]]
name = "pypi"
#url = "https://mirrors.aliyun.com/pypi/simple"
url = "https://pypi.antfin-inc.com/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.7"
django-allauth = "==0.38.0"
django-jsonview = "*"
django-enumfield = "==1.5"
wand = "*"
cryptography = "*"
qrcode = {extras = ["pil"],version = "*"}

[requires]
python_version = "3.6"
