<!DOCTYPE html>
<html ng-app="enduro-racer" ng-strict-di>
<head>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/race.css">
    <title>HIBP</title>
</head>
<body>
<header class="header">
    {% block navbar %}
    <div ng-include="'{{ STATIC_PREFIX }}partial/navbar.html'"
         role="navigation">
    </div>

    {% endblock %}
</header>


<div class="container" ng-controller="BaseCtrl">
    {% block content %}
    <div ng-view></div>
    {% endblock %}
</div>
<!--<div class="container">-->
<!--ng-include="'{{ STATIC_PREFIX }}partial/competitions.html'"-->
<!--</div>-->
<footer class="mt-4">
    <div class="hibp-footer col-12 pl-0 pr-0"></div>
    <!--<img width="100%" src="{{ STATIC_PREFIX }}images/HIBP.jpg" border="0"-->
    <!--alt="HIBP banner">-->
</footer>
{% csrf_token %}

<script src="https://cdn.bootcss.com/angular.js/1.7.8/angular.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.7.8/angular-route.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.7.8/angular-cookies.min.js"></script>
<script src="https://cdn.bootcss.com/angular-filter/0.5.17/angular-filter.min.js"></script>
<script src="https://cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/angular-sanitize/1.7.8/angular-sanitize.min.js"></script>
<script src="https://cdn.bootcss.com/showdown/1.9.0/showdown.min.js"></script>
<script src="https://cdn.bootcss.com/ng-showdown/1.1.0/ng-showdown.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/enduro-racer.js"></script>
<script src="{{ STATIC_PREFIX }}js/alpha-3.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var STATIC = {{ STATIC_PREFIX }};
    var ROOT = {{ request.path }};
    var _ = "";
    var USER = "{{ request.user }}";
    var IS_ADMIN = true;
    var NEED_ADMIN = false;
    var SECURE_COOKIE = true;

</script>
</body>

</html>