<!DOCTYPE html>
<html ng-app="enduro-racer" ng-strict-di>
<head>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/race.css">
    <title>{{ page_title }}</title>
</head>
<body>
<header class="header">
    {% block navbar %}
    <div ng-include="'{{ STATIC_PREFIX }}partial/navbar.html'"
         role="navigation">
    </div>

    {% endblock %}
    <div class="navbar-brand"></div>
</header>


<div class="container" ng-controller="BaseCtrl">
    {% block content %}
    <div ng-view></div>
    {% endblock %}
</div>
<!--<div class="container">-->
<!--ng-include="'{{ STATIC_PREFIX }}partial/competitions.html'"-->
<!--</div>-->
<footer class="mt-4">
    <div class="hibp-footer col-12 pl-0 pr-0"></div>
    <!--<img width="100%" src="{{ STATIC_PREFIX }}images/HIBP.jpg" border="0"-->
         <!--alt="HIBP banner">-->
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"
        integrity="sha256-G+QuLmrpPCq07dbFF1iKLjl3nL6Mvv1qVoMzLVyHpp0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-route.min.js"
        integrity="sha256-l5Hd3fjavvxOOSwZeVCkbMT4KAeMEfLwQnSzjudC/4s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-cookies.min.js"
        integrity="sha256-aEYm74tjwVDZYhSx9lpGzHspabSCNRDN4YrT2RMOt1c=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"
        integrity="sha256-6vbKDGwy9JmzGKxxeypGzCjyOmACDtgheaOQT6ZVafA=" crossorigin="anonymous"></script>
<script src="{{ STATIC_PREFIX }}js/enduro-racer.js"></script>
<script type="text/javascript" charset="utf-8">
    var STATIC = {{ STATIC_PREFIX }};
    var ROOT = {{ request.path }};
    var _ = "";
    var USER = null;
    var IS_ADMIN = true;
    var NEED_ADMIN = false;
    var SECURE_COOKIE = true;

</script>
</body>

</html>