<div ng-controller="CompetitionCtrl" class="container">
    <div ng-include="PARTIAL + 'competition_header.html'"></div>
    <div class="container" ng-if="comp !== null">
        <div class="col-12 col-md-8 offset-md-2 container">
            <div class="col-12">
                <p>{{ comp.description }}</p>
                <p><i class="fas fa-layer-group"></i> {{ comp.groups }}</p>
                <p><i class="fas fa-map-marker"></i> {{ comp.location }}</p>
                <p>
                    <i class="fas fa-calendar-day"></i> {{ comp.startDate | date:'yyyy-MM-dd' }}
                    <i class="fas fa-arrow-circle-right"></i> {{ comp.endDate | date:'yyyy-MM-dd' }}</p>
            </div>
            <div class="col-12 container text-center">
                <a href="" class="mr-auto btn btn-primary" ng-click="showCompetitionSignup(comp_uniname)">Sign
                    Up</a>
                <a href="" class="btn" ng-click="showCompetitionGroup(comp_uniname)">View Grouping</a>
            </div>
        </div>
    </div>
</div>
