.navbar-brand {
  position: absolute;
  background: url(/static/images/hbike_logo.png) center / contain no-repeat;
  transform: translate(-50%, 0%);
  top: 8px;
  left: 50%;
  width: 80px;
  height: 80px;
}

.navbar {
  min-height: 48px;
  background-color: #eeeeee;
}

.hibp-card {
}

.hibp-footer {
  border:0;
  background:url(/static/images/HIBP.jpg) center / contain no-repeat;
  background-color: #fef303;
  transform: translateX(-50%);
  left: 50%;
  height: 80px;
}

input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.tux {
  border:0;
  background:url(/static/images/Tux.png) center / contain no-repeat;
  height: 80px;
  width: 80px;
}

.table p {
  margin-bottom:0 !important;
}
.table td {
  vertical-align: middle !important;
}

